* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}

 body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #313131;
  }

  .container {
    position: relative;
    width: 400px;
    height: 400px;
   
   
    
  }

  .box {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
  
  }

  .green {
    background: #ffffff;
    border: solid 2px black;
    width: 250px;
    height: 380px;
    top: 0;
    left: -500px;
    z-index: 1;
    transform: rotate(-7deg);

  }

  .blue {
    background: #ffffff;
    border: solid 2px black;
       width: 250px;
    height: 380px;
    top: 50px;
    left: -450px;
    z-index: 2;
    transform: rotate(-7deg);
  }

  .pink {
    background: #ffffff;
    border: solid 2px black;
       width: 250px;
    height: 380px;
    top: 100px;
    left: -400px;
    z-index: 3;
    transform: rotate(-7deg);
  }

  .green.active {
    left: 350px;
    z-index: 3;
    transform: rotate(7deg);
  }

  .blue.active {
    left: 300px;
    z-index: 2;
    transform: rotate(7deg);
  }

  .pink.active {
    left: 250px; 
    z-index: 1;
    transform: rotate(7deg);
  }

 .img1{
  width: 80%;
  border: solid 2px black;
  

 }

 section{

 }

 .cj2{
   position: relative;
    width: 600px;
    height: 100px;
   bottom:300px;
   color: rgb(179, 179, 179);
   left: 300px;
   



 }