* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #232323;
    justify-content:space-between;
}

/*-------------HEADER------------------*/

header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 140px;

}

.logo-contenedor {
    position: relative;
    margin-left: 200px;
    align-items: center;
    display: flex;
}

.logo {
    width: 250px;
    background-color: black;
}

.logo-rojo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    width: 250px;
    background-color: black;
}

.logo-contenedor:hover {
    opacity: 1;
}

.logo-rojo:hover {
    opacity: 1;
}

.menu {
    display: flex;
    margin-left: auto; 
    align-items: center;
    width: auto; 
    justify-content: flex-end;
}


.menu li {
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    font-size: 25px;
}

.menu li a {
    text-decoration: none;

}

.menu li a:hover {

    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;
}

.color2 {
    color: white;
}

.color2:hover {
    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;

}

.color {
    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;
}


/*-------------------CUERPO-------------------------*/

.t1 {
	margin-top: 50px;
	display: flex;
	justify-content: center;
    color: white;
}
.libros {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 190px;
}

.c1 {
    position: relative;
    width: 320px;
    height: 430px;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.25s;
    margin: 10px 15px;
    transform-origin: center center;
    margin: 40px 0px;
}

.c1_1 {
    height: 75%;
    transition: 0.2s;
    z-index: 1;
    position: relative;
}

.c1_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.c1_1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.521);
    opacity: 0;
    transition: 0.2s;
}

.c1_2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 25px;
    z-index: 2;
    transition: 0.2s;
}

.lib {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: 0.2s;
    justify-content: end;
    z-index: 2;

}

.lib img {
    width: 30px;
}

.lib ul {
    list-style: none;
}

.lib ul li {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.c1:hover {
    transform: scale(1.07);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 15px 15px 15px black;
    color: red;
}

.c1:hover .c1_1 {
    height: 100%;

}

.c1:hover .c1_1::after {
    opacity: 1;

}

.c1:hover .c1_2 {
    background: transparent;

}

.c1:hover .logo {
    opacity: 1;
    background-color: transparent;
}

.c1 {
    position: relative;
    width: 320px;
    height: 430px;
    border-radius: 25px;
    overflow: hidden;
    transition: 0.25s;
    margin: 10px 15px;
    transform-origin: center center;
    margin: 40px 0px;
}

.c1_1 {
    height: 75%;
    transition: 0.2s;
    z-index: 1;
    position: relative;
}

.c1_1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.c1_1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.521);
    opacity: 0;
    transition: 0.2s;
}

.c1_2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    padding: 25px;
    z-index: 2;
    transition: 0.2s;
}

.lib {
    position: absolute;
    top: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0;
    transition: 0.2s;
    justify-content: end;
    z-index: 2;
}

.lib img {
    width: 30px;
}

.lib ul {
    list-style: none;
}

.lib ul li {
    color: rgb(255, 72, 72);
    font-weight: bold;
}

.c1:hover {
    transform: scale(1.07);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 15px 15px 15px black;
}

.c1:hover .c1_1 {
    height: 100%;

}

.c1:hover .c1_1::after {
    opacity: 1;

}

.c1:hover .c1_2 {
    background: transparent;

}

.c1:hover .lib {
    opacity: 1;
    background-color: transparent;
}

/*---------------FOOTER-------------------*/


footer {
	margin-top: 30px;
	padding-top: 35px;
	height: 130px;
	background-color: black;
	color: #a1a1a1;
	display: flex;
	justify-content: space-between;
	align-items: start;

}

.pie1 {
	margin-left: 20px;
}

.pie1 ul{
	list-style: none;
}

.pie1 ul li a {
	color: #a1a1a1;

}

.pie2 ul li {
	list-style: none;

}

.pie2 ul img {
	width: 30px;

}

.pie2 div {
	margin-right: 10px;
	margin-top: 10px;
}




/*----------------MEDIA-------------*/


@media screen and (max-width: 1600px) {
    .logo-contenedor {
        margin-left: 50px;
    }

    .menu {
        margin-left: 10px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: right;
    }

    .menu li {
        margin: 10px;
        font-size: 20px;
    }

    .libros {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

}