/*----------------INICIO-------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #232323;
    justify-content:space-between;
}

/*------------HEADER ---------------------*/
header {
    background-color: black;
    display: flex;
    align-items: center;
    height: 140px;
}

.logo-contenedor {
    position: relative;
    margin-left: 200px;
    align-items: center;
    display: flex;
}

.logo {
    width: 250px;
    background-color: black;
}

.logo-rojo {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
    width: 250px;
    background-color: black;
}

.logo-contenedor:hover .logo-rojo {
    opacity: 1;
}

.menu {
    display: flex;
    margin-left: auto; 
    align-items: center;
    width: auto; 
    justify-content: flex-end;
}

.menu li {
    margin-left: 50px;
    margin-right: 50px;
    list-style: none;
    font-size: 25px;
}

.menu li a {
    text-decoration: none;
}

.menu li a:hover {
    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;
}

.color2 {
    color: white;
}

.color2:hover {
    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;
}

.color {
    color: #ff4444;
    text-shadow: 0 0 20px #ff0000,
        0 0 40px #ff0000;
}


/*---------- CUERPO ---------------*/

.lista {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    height: 100%;
    margin: 7% 3% 0 0;
}

.lista a {
    text-decoration: none;
    height: 1px;
  
}

.lista article {
    position: relative;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #000000;
    transition: 0.4s;
    margin-left: -60px;
    background-color: rgb(126, 126, 126);
}

.a3 img{
    filter: grayscale(1);
}


.a1 {
    z-index: 10;
    top: 0;
}

.a2 {
    z-index: 20;
    top: 30px;
}

.a3 {
    z-index: 30;
    top: 60px;
}

.a4 {
    z-index: 40;
    top: 80px;
}

.a5 {
    z-index: 50;
    top: 100px;
}

.a6 {
    z-index: 60;
    top: 120px;
}

.lista article:hover {
    transform: translateX(-70px);
    box-shadow: 0 0 50px #000000;
}

.lista article img {
    width: 70%;
    position: absolute;
    top: 45%;
    left: 15%;
    z-index: 1;
    border-radius: 10px;
    border: solid 1px black;
    padding: 15px;
    background-color: white;
}

.lista h2 {
    position: absolute;
    left: 70px;
    top: -10px;
    color: #adadad;
    font-size: 140px;
    font-weight: bold;
    z-index: 2;
    margin: 0;
}

.lista li {
    list-style: none;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 1px 5px #000000;
    z-index: 3;
    margin: 0;
}

.lista p {
    position: absolute;
    transform: translateX(-50%);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(255, 0, 0, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.3s;
    z-index: 100;

}

.a1:hover~.p1,
.a2:hover~.p2,
.a3:hover~.p3,
.a4:hover~.p4,
.a5:hover~.p5,
.a6:hover~.p6 {
    opacity: 1;

}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6 {
    top: 25rem;
    left: 20rem;
    right: 60rem;
    margin-left: 200px;
}

.padre {
    position: absolute;
    width: 10%;
    right: 85%;
    top: 23%;
}

.padre img {
    border-radius: 25px;
}

.lista a:hover.padre img {
    filter: brightness(50%);
    transition: 0.3s;
}

.cuadros{
    display: none;
}


/*-------------------FOOTER ---------------------*/

footer {
	margin-top: 30px;
	padding-top: 35px;
	height: 130px;
	background-color: black;
	color: #a1a1a1;
	display: flex;
	justify-content: space-between;
	align-items: start;

}

.pie1 {
	margin-left: 20px;
}

.pie1 ul{
	list-style: none;
}

.pie1 ul li a {
	color: #a1a1a1;

}

.pie2 ul li {
	list-style: none;

}

.pie2 ul img {
	width: 30px;

}

.pie2 div {
	margin-right: 10px;
	margin-top: 10px;
}

/*--------------------- MEDIA ---------------------*/


@media screen and (max-width: 1600px) {
.logo-contenedor {
		margin-left: 50px;
	}

	.menu {
		margin-left: 10px;
		width: 100%;
		flex-wrap: wrap;
		justify-content: right;
	}

	.menu li {
		margin: 10px;
		font-size: 20px;
	}

}


@media screen and (max-width: 1600px) {
    .oculta{
        display: flex;
        color: white;
        flex-wrap: nowrap;
    }
    .lista{
        display: none;
    }

    .oculta img{
        width: 10px;
    }
    .oculta a{
     border: solid red;   

    }
.cuadros {
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 30px;
	margin-bottom: 3rem;
	margin-top: 1rem;
}

.cud1 {
	height: 95px;
	margin-top: 35px;
	border-radius: 20px;
	background-color: #c9c9c9;
	display: flex;
	align-items: center;
}

.cuadros a {
	width: 20rem;
    height: 10rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	color: black;
	transition: 0.3s;
}

.cud1 li {
	width: 100%;

	justify-content: center;
	text-align: center;
}

.cud1 img {
width: 30%;
	margin-top: 5px;
}

.cuadros article li {
	list-style: none;
	font-size: 25px;
	text-align: center;

}

.cuadros a {
	text-decoration: none;
	color: black;
}

.cuadros a:hover {
	background-color: #ff5c5c;
	color: white;
	box-shadow: 0px 0px 15px 15px rgb(0, 0, 0);
	transform: translateY(-10px);
}


.cuadros a:hover img {
	filter: invert(100%) saturate(0);
}


}