* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #232323;
    justify-content:space-between;
}



/*----------------HEADER-----------*/


header {
	background-color: black;
	display: flex;
	align-items: center;
	height: 140px;

}

.logo {
	width: 250px;
	transition: opacity 0.3s ease-in-out;
}

.logo-contenedor {
	position: relative;
	justify-content: left;
	margin-left: 200px;
	align-items: center;
	display: flex;

}

.logo-rojo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
	width: 250px;
}

.logo-contenedor:hover {
	opacity: 1;
}

.logo-rojo:hover {
	opacity: 1;

}

.menu {
    display: flex;
    margin-left: auto; 
    align-items: center;
    width: auto; 
    justify-content: flex-end;
}



.menu li {
	margin-left: 50px;
	margin-right: 50px;
	list-style: none;
	font-size: 25px;
}

.menu li a {
	text-decoration: none;
}

.color2 {
	color: white;
}

.color2:hover {

	color: #ff4444;
	text-shadow: 0 0 20px #ff0000,
		0 0 40px #ff0000;
}

.color {
	color: #ff4444;
	text-shadow: 0 0 20px #ff0000,
		0 0 40px #ff0000;
}



/*----------------CUERPO----------------*/



body {
	background-color: #232323;
	color: white;
}

main {

	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: -80px;
}

form {
	padding: 5%;
	width: 50%;
	border: solid 1px white;
	text-align: center;
	background-color: #575757;
height: 75%;

}

form div {
	padding: 0.5rem;
	display: flex;
}

.f1 label {
	width: 20%;
	text-align: left;
}

.f1 input,
.f1 select {
	width: 80%;
	padding: 0.4rem;
	border-radius: 10px;
	margin-left: -50px;
}


input:focus,
select:focus {
	background-color: #cecece;
}



.galeria {

	display: flex;
	margin-top: 20px;
	padding: 8px;
	height: 600px;
	margin-bottom: -40px;
}

.fotogrande {
	width: 50%;
}

.fotogrande img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.fotos {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}

.fotos img {
	width: 50%;
	height: 50%;
	object-fit: cover;
}

.e2{
	display: block;
	margin-left: 55px;
	
}

.edad li{
	list-style: none;
}

.e2 label{
	margin-left: 5px;

}

.e2 input{
	display: flex;

}


.botones{

	justify-content: center;
margin-top: -20px;
}

button {
	margin: 1rem 0 0;
	padding: 0.5rem 1rem;
	background-color: white;
	border-radius: 10px;
}

.boton_enviar:hover,
.boton_enviar:focus {
	background-color: #52a51a;
	color: white;
}

.boton_borrar:hover,
.boton_borrar:focus {
	background-color: #ff6e6e;
		color: white;
}

/*-----------FOOTER-----------------*/


footer {
	margin-top: 30px;
	padding-top: 35px;
	height: 130px;
	background-color: black;
	color: #a1a1a1;
	display: flex;
	justify-content: space-between;
	align-items: start;

}

.pie1 {
	margin-left: 20px;
}

.pie1 ul{
	list-style: none;
}

.pie1 ul li a {
	color: #a1a1a1;

}

.pie2 ul li {
	list-style: none;

}

.pie2 ul img {
	width: 30px;

}

.pie2 div {
	margin-right: 10px;
	margin-top: 10px;
}



/*---------------MEDIA-------------*/


@media screen and (max-width: 1600px) {
	.logo-contenedor {
		margin-left: 50px;
	}

	.menu {
		margin-left: 10px;
		width: 100%;
		flex-wrap: wrap;
		justify-content: right;
	}

	.menu li {
		margin: 10px;
		font-size: 20px;
	}

	main form div label {
		margin-right: 90px;
	}
}