* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #232323;
    justify-content:space-between;
}

/*----------CABECERA----------*/

header {
	background-color: black;
	display: flex;
	align-items: center;
	height: 140px;

}

.logo-contenedor {
	position: relative;
	margin-left: 200px;
	align-items: center;
	display: flex;

}

.logo {
	width: 250px;
	background-color: black;
}

.logo-rojo {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.3s;
	width: 250px;
	background-color: black;
}

.logo-contenedor:hover {
	opacity: 1;
}

.logo-rojo:hover {
	opacity: 1;
}

.menu {
    display: flex;
    margin-left: auto; 
    align-items: center;
    width: auto; 
    justify-content: flex-end;
}

.menu li {
	margin-left: 50px;
	margin-right: 50px;
	list-style: none;
	font-size: 25px;
}

.menu li a {
	text-decoration: none;
}

.menu li a:hover {

	color: #ff4444;
	text-shadow: 0 0 20px #ff0000,
		0 0 40px #ff0000;
}


.color2 {
	color: white;
}

.color2:hover {
	color: #ff4444;
	text-shadow: 0 0 20px #ff0000,
		0 0 40px #ff0000;

}

.color {
	color: #ff4444;
	text-shadow: 0 0 20px #ff0000,
		0 0 40px #ff0000;
}


/*--------------CUERPO-------------------*/



.sec1 {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	color: white;
}

.sec1 article {
	width: 80%;
	height: 50%;
	display: flex;
	align-items: center;
}

.sec1 article img {
	width: 20%;
}

.sec1 article p {
	margin: 5%;
}


.sec2 {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}


.sec3 {
	margin-top: 30px;
}

.sec3_1 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10% 0 10%;

}

.sec3_1 img {
	width: 30%;

}

.sec3_1 p {
	margin-right: 3%;
}


.sec3_2 {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 10% 0 10%;
}

.sec3_2 img {
	width: 30%;
	margin-right: 3%;

}

.sec3_2 p {
	margin-right: 3%;
}


/*---------------FOOTER------------------*/


footer {
	margin-top: 30px;
	padding-top: 35px;
	height: 130px;
	background-color: black;
	color: #a1a1a1;
	display: flex;
	justify-content: space-between;
	align-items: start;

}

.pie1 {
	margin-left: 20px;
}

.pie1 ul{
	list-style: none;
}

.pie1 ul li a {
	color: #a1a1a1;

}

.pie2 ul li {
	list-style: none;

}

.pie2 ul img {
	width: 30px;

}

.pie2 div {
	margin-right: 10px;
	margin-top: 10px;
}


/*---------------MEDIA----------------*/

@media screen and (max-width: 1600px) {
	.logo-contenedor {
		margin-left: 50px;
	}

	.menu {
		margin-left: 10px;
		width: 100%;
		flex-wrap: wrap;
		justify-content: right;
	}

	.menu li {
		margin: 10px;
		font-size: 20px;
	}

	.sec1 article {
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.sec1 article img {
		width: 40%;
	}

	.sec3 article {
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.sec3 article img {
		width: 40%;
		margin-top: 30px;
	}

	.sec3 article p {
		margin-top: 30px;
	}

}