*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }

  /* contenedor clickeable */
  .container {
    width: 100%;
    height: 100px;
    position: relative;
    cursor: pointer;
  }

  /* cuadro */
  .box {
    width: 100px;
    height: 100px;
    background: #3498db;
    position: absolute;
    left: 0;
    transition: left 0.5s ease, background 0.5s ease;
    border-radius: 8px;
  }

  /* estado toggled */
  .container:has(.box.toggled) .box {
    left: calc(100% - 100px);
    background: #e74c3c;
  }